<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Laboratorio 3 SD</title>

    
    <link href="css/cover.css" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Libreria utilizada para la conexion del Socket.io -->
    <script src="socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="css/font-awesome.min.css">

    <!-- Librerias necesarias para el funcionamiento de la página -->
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="function/index.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="http://api.html5media.info/1.1.6/html5media.min.js"></script>
  </head>

  <body >


    <nav class="navbar">
      <div class="container-fluid">
        <div class="navbar-header">
        
            <a href="http://localhost:3000/"><img  alt="" src="img/logo.png" class="adaptar"> <h5 >Laboratorio 3 SD</h4></a>
            

        </div>
      </div>
    </nav>
 	

 	<div class="container">
 		<div class="well">
 			<h1> Agregar Estudiante</h1>
 			<br>
 			<div class="row">
 				<div class="col-md-6">
 					<img src="img/estudiante.jpg" class="adaptar2" >
 				</div>
 				<div class="col-md-6">
             <form action="/addtoDB" method="post">
                    <div class="form-group">
                      <label for="rut">Rut:</label>
                      <input type="text" class="form-control" id="rut" placeholder="Rut" name="estudiante[rut]" required>
                    </div>
                    <div class="form-group">
                      <label for="nombre">Nombre:</label>
                      <input type="text" class="form-control" id="nombre" placeholder="Nombre" name="estudiante[nombre]" required>
                    </div>
                    <div class="form-group">
                      <label for="apellidoP">Apellido Paterno:</label>
                      <input type="text" class="form-control" id="apellidoP" placeholder="Apellido Paterno" name="estudiante[apellidoP]" required>
                    </div>
                   <div class="form-group">
                      <label for="apellidoM">Apellido Materno:</label>
                      <input type="text" class="form-control" id="apellidoM" placeholder="Apellido Materno" name="estudiante[apellidoM]" required>
                    </div>
                   <div class="form-group">
                      <label for="email">e-mail:</label>
                      <input type="text" class="form-control" id="email" placeholder="e-mail" name="estudiante[email]" required>
                    </div>
                   <div class="form-group">
                      <label for="universidad">Universidad:</label>
                      <input type="text" class="form-control" id="universidad" placeholder="Universidad" name="estudiante[universidad]" required>
                    </div>
                   <div class="form-group">
                      <label for="carrera">Carrera:</label>
                      <input type="text" class="form-control" id="carrera" placeholder="Carrera" name="estudiante[carrera]" required>
                    </div>
                   <div class="form-group">
                      <label for="años">Años:</label>
                      <input type="text" class="form-control" id="años" placeholder="Años" name="estudiante[años]" required>
                    </div>
                    <button id="enviar2" name="send" type="submit" class="btn btn-info btn-lg btn-block">Ingresar al estudiante!</button>
						  </form>

 				</div>
 			</div>
 
 		</div>
 	</div>
  </body>
<script src="/socket.io/socket.io.js"></script>

</html>

