<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Laboratorio 3 SD</title>

    
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Libreria utilizada para la conexion del Socket.io -->
    <script src="socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link href="css/cover.css" rel="stylesheet">
    
    <!-- Librerias necesarias para el funcionamiento de la página -->
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="function/index.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="http://api.html5media.info/1.1.6/html5media.min.js"></script>
  </head>

  <body>


   <nav class="navbar">
      <div class="container-fluid">
        <div class="navbar-header">
        
            <img alt="Chat con NodeJS" src="img/logo.png" class="adaptar"> <h5 >Laboratorio 3 SD</h4>
            

        </div>
      </div>
    </nav>
 	

 	<div class="container">
 		<div class="well">
      <h1>Bases de datos distribuidas</h1>
      <br><br><br>
 			<div class="row">
        <div class="col-md-6">
					<div class="btn-group-vertical" role="group" aria-label="...">
            <form  action="/agregar" method="post">

              <button type="submit" id= "addBtn" class="btn btn-primary btn-lg btn-block"> <i class="glyphicon glyphicon-plus"></i>   Agregar Estudiante</button>

            </form>
            <form  action="/modificar" method="post">
                <button type="submit" id= "modBtn" class="btn btn-primary btn-lg btn-block"> <i class="glyphicon glyphicon-cog"></i>   Modificar Estudiante</button>
            </form>
            
		 				<form  action="/eliminar" method="post">
                <button type="submit" id= "delBtn" class="btn btn-primary btn-lg btn-block"> <i class="glyphicon glyphicon-minus"></i>   Eliminar Estudiante</button>
            </form>
					</div>
 				</div>
         <div class="col-md-6">
            <div class="btn-group-vertical" role="group" aria-label="...">
            <form  action="/listarTodos" method="post">

              <button type="submit" class="btn btn-success btn-lg btn-block"> <i class="fa fa-users"></i>   Listar todos los estuiantes</button>

            </form>
            <form  action="/listarUsach" method="post">
                <button type="submit"  class="btn btn-success btn-lg btn-block"> <i class="glyphicon glyphicon-education"></i>   Listar todos los estuiantes que estudian en USACH</button>
            </form>
            
            <form  action="/listarPrimer" method="post">
                <button type="submit"  class="btn btn-success btn-lg btn-block"> <i class="fa fa-child"></i>  Listar los estudiantes de primer año</button>
            </form>
          </div>
         </div>
 			</div>
      <br><br>
      <div class="row">
        <div class="col-md-6">
            <form  action="/buscarNombre" method="post">
             <button type="submit"  class="btn btn-warning btn-lg btn-block"> <i class="glyphicon glyphicon-search"></i>  Buscar Estudiantes por nombre</button>
            </form>
              
        </div>
        <div class="col-md-6">
            <form  action="/buscarApellido" method="post">
             <button type="submit"  class="btn btn-warning btn-lg btn-block"> <i class="glyphicon glyphicon-search"></i>  Buscar Estudiantes por apellido</button>
            </form>
        </div>

      </div>
 
 		</div>
 	</div>
  </body>
<script src="/socket.io/socket.io.js"></script>

</html>

